# Supabase Configuration
SUPABASE_URL=https://nrrlrctttdslttflxjsc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ycmxyY3R0dGRzbHR0Zmx4anNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MTkzMjksImV4cCI6MjA4ODk5NTMyOX0.C09pYP0jqv0-dSdBWQ6ccKhldklRCCPE-RxGlLvxAVA
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ycmxyY3R0dGRzbHR0Zmx4anNjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQxOTMyOSwiZXhwIjoyMDg4OTk1MzI5fQ.5XYoEzjT0-NYBUuGAHaczH9n6UJqoqEBBOD9ZBMpynU

# GNews API Configuration
GNEWS_API_KEY=678edfb219e7669784d2d4ec75dab973
GNEWS_API_URL=https://gnews.io/api/v4

# Database Configuration (Supabase PostgreSQL)
DATABASE_URL=postgresql://postgres:[",xJ7P_#?hpTM.a7"]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=True

# Model Configuration
DEFAULT_MODEL=distilbert
MODEL_PATH=./models

# Application Settings
ENVIRONMENT=development
DEBUG=True
LOG_LEVEL=INFO

# CORS Settings
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Weights & Biases (Optional)
WANDB_API_KEY=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
WANDB_PROJECT=fake-news-detection
